<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>Redux</title>
	<link rel="shortcut icon" href="/favicon.ico">
    <link href="/css/bootstrap@4.1.css" rel="stylesheet" type="text/css">
    <link href="/css/owl.carousel.css" rel="stylesheet" type="text/css">
    <link href="/css/client.css" rel="stylesheet" type="text/css">
    <script type="text/javascript" src="/js/jquery-3.2.1.js"></script>
    <script type="text/javascript" src="/js/popper.js"></script>
    <script type="text/javascript" src="/js/bootstrap.js"></script>
    <script type="text/javascript" src="/js/owl.carousel.js"></script>
</head>
<body>
	<section id="root"></section>
    <div id="show-json"></div>
	<script src="/dist/bundle.js"></script>
</body>
</html>